<div id="container" class="d-flex flex-column gap-3 justify-content-center align-items-center">
  <h3 id="page-title">Real Estate Management</h3>
  <section class="w-75">
    <button class="btn btn-primary w-100" id="button-add-real-estate" type="button" (click)="openModal()">
      <i class="bi bi-plus"></i> Add Real Estate
    </button>
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item" *ngFor="let realEstateHeader of realEstatesHeaderList">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" (click)="getRealEstateBody(realEstateHeader.id)" data-bs-toggle="collapse" [attr.data-bs-target]="'#flush-collapse' + realEstateHeader.id">
            {{ typologyDescriptions[realEstateHeader.typologyId] }} - {{ cityDescriptions[realEstateHeader.cityId] }} | {{ realEstateHeader.title }}
          </button>
        </h2>
        <div [id]="'flush-collapse' + realEstateHeader.id" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body" *ngIf="realEstateBody && realEstateBody.id === realEstateHeader.id">
            <p><strong>Address:</strong> {{ realEstateBody.address }}</p>
            <p><strong>Zip Code:</strong> {{ realEstateBody.zipCode }}</p>
            <p><strong>Build Date:</strong> {{ realEstateBody.buildDate }}</p>
            <p><strong>Square Meters:</strong> {{ realEstateBody.squareMeter }}</p>
            <p><strong>Energy Class:</strong> {{ realEstateBody.energyClass }}</p>
            <button class="btn btn-danger" type="button" (click)="openDeleteModal(realEstateHeader.id)">
              <i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>