#container{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

#ref-data-dropdown{
    width: 50rem;
    max-width: 100%;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
}

#dropdown{
    display: flex;
    gap: 1rem;
    align-items: center;
}

#modal-body{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-section{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.modal-section p{
    margin: 0;
}

.modal-section input{
    width: 100%;
    padding: .5rem .8rem;
    outline: none;
    resize: none;
}

#table{
    width: 50rem;
    max-width: 100%;
    text-align: left;
}  

.table-row{
    text-align: left; 
    vertical-align: middle;
}

.delete-row{
    text-align: right;
}

#delete{
    padding: .5rem .8rem;
    color: white;
    background-color: red;
    border: none;
    border-radius: 5px;
}