<div id="container">
    <h3>Reference Data</h3>
    <section id="ref-data-dropdown">
        <div class="dropdown" id="dropdown">
            <h5>Type:</h5>
            <select class="form-select" id="referenceDataDropDown" (change)="dropDownFilter()" [(ngModel)]="selectedRefDataType" aria-label="Default select example">
                <option value="1">Typology</option>
                <option value="2" selected>Realestate Type</option>
                <option value="3">Cities</option>
                <option value="4">Amenities</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openModal()">
            <i class="bi bi-plus"></i> Add
        </button>
    </section>
    <table class="table table-striped" id="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let typology of referenceDataList">
                <td>
                    {{typology.id}}
                </td>
                <td>
                    {{typology.description}}
                </td>
                <td>
                    <button class="border-0 bg-transparent">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>