<div class="d-flex align-items-center flex-column gap-1 p-1" id="container">
    <h3>Reference Data</h3>
    <section class="d-flex align-items-center justify-content-between gap-1 w-75" id="ref-data-dropdown">
        <div class="dropdown d-flex align-items-center gap-1" id="dropdown">
            <h5>Type:</h5>
            <select class="form-select" id="referenceDataDropDown" (change)="dropDownFilter()" [(ngModel)]="selectedRefDataType">
                <option value="realestate_type">Realestate Type</option>
                <option value="typology">Typology</option>
                <option value="city">Cities</option>
                <option value="amenity">Amenities</option>
            </select>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" (click)="openModal()">
            <i class="bi bi-plus"></i> Add
        </button>
    </section>
    <table class="table table-striped w-75" id="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let refData of referenceDataList">
                <td>
                    {{refData.id}}
                </td>
                <td>
                    {{refData.description}}
                </td>
                <td>
                    <button class="btn btn-danger py-1 px-2 float-end" (click)="openDeleteModal(refData.id)">
                        <i class="bi bi-trash"></i>
                    </button>         
                </td>
            </tr>
        </tbody>
    </table>
</div>