<div class="modal d-block">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content" id="modal-content-id">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Visit Request</h1>
          <button type="button" class="shadow-none btn-close" (click)="closeModal(null)"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="form" class="row g-3 d-flex flex-column">
            <div class="col-md-4 w-100">
              <label for="date" class="form-label fw-bold">Date</label>
              <input type="date" id="date" class="form-control" formControlName="date" [min]="minDate" (change)="changeDate($event)">
              <app-error-message class="error-message" [control]="form.controls.date"></app-error-message>
            </div>
  
            <div class="col-md-4 w-100">
              <label for="startTime" class="form-label fw-bold">Start Time</label>
              <select class="form-select" formControlName="start_time" (change)="updateEndTimes()">
                <option *ngFor="let time of times" [value]="time">{{ time }}</option>
              </select>
              <app-error-message class="error-message" [control]="form.controls.start_time"></app-error-message>
            </div>
  
            <div class="col-md-4 w-100">
              <label for="endTime" class="form-label fw-bold">End Time</label>
              <select class="form-select" formControlName="end_time">
                <option *ngFor="let time of filteredEndTimes" [value]="time">{{ time }}</option>
              </select>
              <app-error-message class="error-message" [control]="form.controls.end_time"></app-error-message>
            </div>
  
            <div class="col-md-4 w-100">
              <label for="Agent" class="form-label fw-bold">Agent</label>
              <select class="form-select" formControlName="agentId">
                <option value="{{agent.id}}" *ngFor="let agent of agents">{{agent.name}}</option>
              </select>
              <app-error-message class="error-message" [control]="form.controls.agentId"></app-error-message>
              <p *ngIf="agents?.length === 0">No agents available.</p>
            </div>
  
            <div class="col-md-4 w-100">
              <label for="RealEstates" class="form-label fw-bold">Real Estates</label>
              <select class="form-select" formControlName="realestateId">
                <option value="{{realestate.id}}" *ngFor="let realestate of realestates">{{realestate.title}}</option>
              </select>
              <app-error-message class="error-message" [control]="form.controls.realestateId"></app-error-message>
              <p *ngIf="realestates?.length === 0">No real estates available.</p>
            </div>
  
            <div class="col-md-4 w-100">
              <label for="name" class="form-label fw-bold">Name</label>
              <input type="text" class="form-control" formControlName="name">
              <app-error-message class="error-message" [control]="form.controls.name"></app-error-message>
            </div>
  
            <div class="col-md-4 w-100">
              <label for="email" class="form-label fw-bold">Email</label>
              <input type="email" class="form-control" formControlName="email">
              <app-error-message class="error-message" [control]="form.controls.email"></app-error-message>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal(null)">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="addVisitRequest()">Submit for Approval</button>
        </div>
      </div>
    </div>
  </div>  