<div>
    <div class = "container">
        <div class = "card">
            <div class = "card-header">
                <h4>User Information
                    <a routerLink = '/view-customer' class="btn back">Back</a>
                </h4>
            </div>
            <div class="card-body">

                <form action="">
                    <div class="row">
                        <div class="col">col</div>
                        <div class="col">col</div>
                        <div class="w-100">col</div>
                        <div class="col">col</div>
                        <div class="col">col</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- customer service, getcustomerbyid-->
