<style>
    .container{
        align-items: center;
        float: left;
        margin: 0 15px 0 0;
    }
    img{
        max-width: 20%;
        max-height: 20%;
    }
    
    .text{
        font-size: 15px;
        padding-left: 30px;
    }
</style>
    <div class = "container">
        <div class="image">
            <img src="../../assets/home_page_icons/avatar_customer.png" alt="" draggable="false">
        </div>
        <div class = "card">
            <div class = "card-header">
                <h4>User Information
                    <a class="btn back">Back</a>
                </h4>
            </div>
        <div class="card-body">
            <form action="">
                <div class="text">
                    <div class="col">ID</div>
                    <div class="col">Column</div>
                    <div class="w-100"></div>
                    <div class="col">Name</div>
                    <div class="col">Column</div>
                    <div class="w-100"></div>
                    <div class="col">Email</div>
                    <div class="col">Column</div>
                    <div class="w-100"></div>
                    <div class="col">Password</div>
                    <div class="col">Column</div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- customer service, getcustomerbyid-->
