<div id="container" class="d-flex flex-column gap-3 justify-content-center align-items-center">
  <h3 id="page-title">Property Management</h3>
  <section class="w-75">
    <button class="btn btn-primary w-100" id="button-add-property" type="button"
      data-target="#exampleModal" (click)="openModal()"><i class="bi bi-plus"></i> Add Property</button>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Typology - City I Title
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            <p><strong>Address:</strong></p>
            <p><strong>Postal Code:</strong></p>
            <p><strong>Construction Year:</strong></p>
            <p><strong>Square Meters:</strong></p>
            <p><strong>Energetic Class:</strong></p>
            <button id="delete-property" type="button">Delete Property</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>