<div id="container">
  <h3 id="page-title">Property Management</h3>
  <section id="properties">
    <button class="btn btn-primary" id="button-add-property" type="button" data-bs-toggle="modal"
      data-bs-target="#exampleModal"><i class="bi bi-plus"></i> Add Property</button>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" id="testRight">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Property - </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form [formGroup]="form" class="row g-3">
              <div class="col-md-4 position-relative w-100">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" formControlName="title">
                <div *ngIf="!form.controls.title.pristine && form.controls.title.hasError('required')">
                  <p style="color:red">This field is required!!!</p>
                </div>
              </div>
              <div class="col-md-4 position-relative w-100">
                <label for="validationTooltip01 address" class="form-label">Address</label>
                <input type="text" class="form-control" id="address" formControlName="address">
                <div *ngIf="!form.controls.address.pristine && form.controls.address.hasError('required')">
                  <p style="color:red">This field is required!!!</p>
                </div>
              </div>
              <div class="col-md-4 position-relative w-100">
                <label for="validationTooltip01 postalCode" class="form-label">Postal Code</label>
                <input type="text" class="form-control" id="validationTooltip01 postalCode" formControlName="postalCode"
                  required>
                <div *ngIf="!form.controls.postalCode.pristine && form.controls.postalCode.hasError('required')">
                  <p style="color:red">This field is required!!!</p>
                </div>
              </div>
              <div class="mb-3">
                <label for="validationTooltip01" class="form-label">Description</label>
                <textarea class="form-control" id="validationTooltip01" rows="3"
                  formControlName="description" required> </textarea>
                <div *ngIf="!form.controls.description.pristine && form.controls.description.hasError('required')">
                  <p style="color:red">This field is required!!!</p>
                </div>
              </div>
              <div class="d-flex bd-highlight mb-3">
              <div class="col-md-4 position-relative d-flex w-50">
                <label for="validationTooltip01" class="form-label">Construction Year</label>
                <input type="text" class="form-control" id="validationTooltip01" formControlName="constructionYear"
                  required>
                <div *ngIf="!form.controls.constructionYear.pristine && form.controls.constructionYear.hasError('required')">
                  <p style="color:red">This field is required!!!</p>
                </div>
              </div>
              <div class="col-md-4 position-relative d-flex w-50">
                <label for="validationTooltip01" class="form-label">Square Meters</label>
                <input type="text" class="form-control" id="validationTooltip01" formControlName="squareMeters"
                  required>
                <div *ngIf="!form.controls.squareMeters.pristine && form.controls.squareMeters.hasError('required')">
                  <p style="color:red">This field is required!!!</p>
                </div>
              </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="saveTest()">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            Typology - City I Title
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <p><strong>Address:</strong></p>
            <p><strong>Postal Code:</strong></p>
            <p><strong>Contruction Year:</strong></p>
            <p><strong>Square Meters:</strong></p>
            <p><strong>Energetic Class:</strong></p>
            <button id="delete-property" type="button">Delete Property</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>