* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.modal-content{
  border: none !important;
  
}

.modal-body{
  background-color: #ebebeb;
}

#modal-content-id {
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  min-height: 100vh;
}