<div id="container" class="d-flex flex-column justify-content-center align-items-center">
  <h3 id="page-title">Customer Management</h3>
  <section id="customers" class="px-5 pt-3 w-75">
    <button class="btn btn-primary w-100" id="button-add-customer" type="button"(click)="openAddCustomerModal()"><i class="bi bi-plus"></i>Add Customer</button>
    <table class="table">
      <tbody>
        <tr *ngFor="let customer of customers$ | async">
          <td class="text-start pt-3"> {{customer.name}}</td>
          <td><button type="button" class="btn btn-secondary float-end btn-light" [routerLink]="['view-customer', customer.id]">View</button></td>
        </tr>
      </tbody>
    </table>
  </section>
</div>