<div class="container" id="buttons-container" *ngFor="let row of homeButtons">
    <div class="row">
      <div class="col-sm" id="colunas-firstLine" *ngFor="let buttonFirstRow of row.firstRow">
        <a [routerLink]="">
            <img src="{{buttonFirstRow.imgPath}}" alt="" draggable="false">
        </a>
        <p>{{buttonFirstRow.title}}</p>
      </div>
    </div>
    <div class="row">
        <div class="col-sm" id="colunas-secondLine" *ngFor="let buttonSecondRow of row.secondRow">
            <a [routerLink]="">
                <img src="{{buttonSecondRow.imgPath}}" alt="" draggable="false">
            </a>
          <p>{{buttonSecondRow.title}}</p>
        </div>
    </div>
</div>