<div id="container" class="d-flex flex-column justify-content-center align-items-center">
    <h3 id="page-title">Agent Management</h3>
    <section id="agents" class="px-5 pt-3 w-75">
      <button class="btn btn-primary w-100" id="button-add-agent" type="button"><i class="bi bi-plus"></i>Add Agent</button>
      <table class="table">
        <tbody>
          <tr>
            <td class="text-start pt-3"> Michael Jordan</td>
            <td><button type="button" class="btn btn-secondary float-end btn-light">View</button></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>